<h1 class="title">Hello Viteconf!</h1>

<style>
  /* Very light scaling for our illustration */
  .title {
    color: #2800ff;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 105%;
    margin: 0;
  }
</style>
